<div class="jumbotron">
		<h1 class="overlay_title"><span>SRIguana</span></h1>
</div>

<div class="container">
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <h2 class= "homepage-name">Mutual Funds</h2>
        <p>SRIguana is every socially responsible investor's dream come true. It is meant to be a one stop shop for anyone interested in learning more about mutual funds and what they're really investing in. Users will be able to see how heavily they're invested in an industry. Depending on the industry they're invested, the user can choose whether or not they'd like to buy into the mutual fund using any third preferred party. SRIguana's job is to inform the investor. Users can also build portfolios of mutual funds they're interested in.</p>
    </div>
  </div> 
  <div class="col-md-6">
    <div class="panel panel-default" id="right_column">
      <h2 class= "homepage-name">Social Responsibility</h2>  
        <p>Ever wondered what you're investing in and how your investments shape the world around you? SRIguana aims to bridge the gap between financial investment and social responsibility by breaking down what industries are related to your stocks, and ultimately the mutual funds you decide to invest in. We encourage people to invest in their beliefs and values.</p>    
    </div>
  </div>
</div>  
</div>
