<div class="jumbotron">
    <h1 class="overlay"><span>Mutual Funds</span></h1>
</div>
<div class="container">
  <div class="row">
    <div id="stock_link">
      <div class="panel panel-default">
        <% @mutualfunds.each do |mutualfund| %>
          <ul>
            <li><%= link_to mutualfund.name, mutual_fund_path(mutualfund) %></li>
          </ul>  
          <hr>
		        <% end %>
        </div>
    </div>
  </div>
</div>    

