<div>  
  <img class="mutual" src="/assets/ticker.jpg">
  <h1 class="overlay"><span>Mutual Funds</span></h1>
</div>

<div class="container">
  <div class="row" id="mutualfunds">
    <div class="panel panel-default">
      <% @mutualfunds.each do |mutualfund| %>
      <div class="row">
        <div class="col-md-7" id="stock_link">
          <%= link_to mutualfund.name, mutual_fund_path(mutualfund) %> 
          <hr>
        </div>   		 
		<% end %>
    </div>
</div>
</div>