<div class="container">
  <h1>Search</h1>
  <%= form_tag(mutual_funds_search_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Mutual Funds" %>
    <%= submit_tag "Search" %>
  <% end %>
  
  <% @mutualfunds.each do |mf| %>
    <div>
      <h1><%= mf.name %></h1>
    </div>
  <% end %>  

</div>
