<div>  
  <img class="mutual" src="/assets/ticker.jpg">
  <h1 class="overlay"><span>Team</span></h1>
</div>
<div class="container">
  <h1>Team</h1>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div>
        <img class="img-circle" src="http://the8guild.com/ui-kits/tron/examples/team/img/williams.jpg" alt="Elmo">
          <div class="caption">
            <h3>Elmo</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img class="gif" src="https://media.giphy.com/media/oubM1tKqnLW5G/giphy.gif" alt="Elmo">
          <div class="caption">
            <h3>Elmo</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
        <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img class="gif" src="/assets/elmo.png" alt="Elmo">
          <div class="caption">
            <h3>Elmo</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <img src="/assets/elmo.png" alt="Elmo">
          <div class="caption">
            <h3>Elmo</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
              <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
          </div>
        </div>
      </div>   
  </div>
</div>