/*
 * app/assets/stylesheets/application.css
 */
/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 20px;
  height: 100%;
  width: 100%;
  background-color: #F2F2F2;
}

.jumbotron {
  background-image: url(http://i.imgur.com/NFMZJAa.jpg?1);
  background-repeat: no-repeat;
  height: 465px;
  color:white;
  background-position: 50%;
  background-color: white;
}

.header {
  padding-top: 30px;
}

.navbar-default .navbar-brand {
  color: #3c763d;
}

.navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color:white;
}

.navbar-default {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  font-size: 20px;
  background-color: #87C73C;
 }

.navbar-default .navbar-nav>li>a {
    color: white;
}

.nav {
  padding-right: 20px;
}

.form-control {
  width: 70%;
}

.center-content {
  margin: 0 auto;
}

.users {
  background-size: cover;
  height: 350px;
}

.img-circle {
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
  padding: 10px;
}

.gif {
  padding: 15px;
}

#mutualfunds {
  padding-top: 75px;
}

#right_column {
  padding-bottom: 110px;
}

h1 span {
   font-family: 'Alegreya Sans SC', sans-serif;
   color: #87C73C;
   font: bold 40px/60px;
   letter-spacing: -1px;
   padding: 20px;
   padding-right: 500px;

}

.text_overlay {
   position: absolute;
   top: 100px;
   right: 455px;
   width: 100%;
}

.mutual {
  height: 350px;
  width: 100%;
}

/*.overlay {
  position: absolute;
  top: 210px;
}*/

.funds {
  padding-top: 75px;
}

.stock {
  width: 100%;
  height: 350px;
  padding-top: 100px;
}

#stock_link {
  padding-top: 50px;
}

.profile_picture {
  width: 200px;
  height: 200px;
}

.panel-default {
  padding: 25px;
}

h1 span.spacer {
   padding:0 5px;
}

h2, h3 {
  font-family: 'Questrial', sans-serif;
}

h2 {
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
}


li {
  list-style-type: none;
 }

a {
    color: black;
    text-decoration: none;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: -5px auto -60px;
  padding: 0 0 200px;
}

#wrap > .container{
  padding: -60px -15px 0;
}

.footer {
  background-color: #19381F;
  color: white;
  height: 60px;
}


.copyright {
  position: absolute;
}
