/*
 * app/assets/stylesheets/application.css
 */
/*
 * ...
 *
 *= require bootstrap-3.3.6.min
 *= require_tree .
 *= require_self
 */

 .jumbotron {
   background-image: url(/assets/homepage.jpg);
   background-repeat: no-repeat;
   height: 350px;
   background-size: cover;
   color:white;
   text-align: center;
   background-position: center center;
 }

 .header {
    padding-top: 30px;
 }

 .navbar-brand {
  font-weight: bold;
  font-size: 20px;
 }

 .nav {
  padding-right: 20px;
 }

 .form-control {
  width: 70%;
 }

.center-content {
  margin: 0 auto;
}

.users {
  background-image: url(/assets/exchange.jpg);
  background-size: cover;
  height: 350px;
}

.img-circle {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  padding: 10px;
}

.gif {
  padding: 15px;
}

#mutualfunds {
  padding-top: 75px;
}

h1 span { 
   color: white; 
   font: bold 40px/60px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 20px; 
}

.text_overlay { 
   position: absolute; 
   top: 100px; 
   right: 455px; 
   width: 100%; 
}

.mutual {
  height: 350px;
  width: 100%;
}

.overlay { 
  position: absolute; 
  top: 125px;
}

.funds {
  padding-top: 75px;
}

.stock {
  width: 100%;
  height: 350px;
}

#stock_link {
  padding-top: 132px;
}

.profile_picture {
  width: 200px;
  height: 200px;
}

.panel-default {
  padding: 25px;
}

h1 span.spacer {
   padding:0 5px;
}

 html {
  height: 100%;
  width: 100%;
 }
 body {
  font-size: 20px;
  height: 100%;
  width: 100%;
 }

 p {
  padding: 20px;
 }

 li {
    list-style-type: none;
 }

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 200px;
}

#wrap > .container{
  padding: -60px -15px 0;
}

.footer {
  background-color: black;
  color: white;
  height: 60px;
}

.copyright {
  position: absolute;
}